body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-style: 14;
}
.fredoka {
	font-family: 'Fredoka One', cursive;
	font-size: 1.3em;
}
.red {
	color: rgba(169,68,66,1) !important;
}
nav.navbar {
	background-color: white;
	margin-bottom: 10px;
}
i#chart {
	font-size: 1.5em;
	cursor: pointer;
}
i#chart:hover {
	color: #333333;
}

.modal-title {
	text-align: center;
}
.main-row {
	padding: 0px;
	height: 100vh;
}
.show {
	display: block;
}
.username-form {
	width: 80%;
	margin: 0 auto;
}
input#username {
	width: 80%;
	margin: 0 auto;
}
.data-section {
	display: none;
	background-color: rgba(153,153,153,1);
	height:100vh;
	padding-top: 70px;
	padding-left: 20px;
	padding-right: 20px;
}
.col-sm-8 {
	padding: 0px;
}
.messages-row {
	padding-top: 70px;
	padding-bottom: 30px;
	height: 85vh;
	overflow: scroll;
}
.messages-row h4 {
	display: none;
	text-align: center;
	color: rgba(173,216,230,1);
	margin-top: 50px;
}
div.message-bubble {
	border-radius: 10px;
	color: white;
	background-color: rgba(211,211,211,1);
	position: relative;
	width: 75%;
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 20px; 
	margin-left: auto;
	margin-right: auto;
}
div.message-bubble::after {
	content: "";
	height: 0px;
	width: 0px;
	border: 20px solid rgba(211,211,211,1);
	border-top-color: rgba(211,211,211,1);
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	border-right-width: 20px;
	border-top-width: 20px;

	position: absolute;
	bottom:-40px;
	left: 10%;
}
.author {
	color: rgba(211,211,211,1);
	position: relative;
	width: 75%;
	height: 30px;
	padding-left: 95px;
	padding-top: 5px;
	margin: 10px auto;
}

.input-row {
	height: 15vh;
	background-color: rgba(173,216,230,1);
	padding-top: 30px;
	position: absolute;
	width: 110%;
	margin-bottom: -50px;
}
.chat-form {
	width:80%;
	margin: 0 auto;
}
input#message {
	width: 90%;
	margin: 0 auto;
}
.fine-print {
	font-style: italic;
	font-size: .95em;
}
#update-data {
	float: right;
	margin-top: -6px;
	margin-right: 15px;
}
canvas {
	margin: 30px auto;
	padding-left: 40px;
	max-width: 300px;
	max-height: 300px;
}
.score {
	padding-left: 40px;
}
.negative-color {
	color: rgba(255,0,0,1);
}
.positive-color {
	color: rgba(28,222,30,1);
}
.neutral-color {
	color: rgba(51,51,51,1);
}
